:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
  /* padding: 0;
  margin: 0; */
  background-color: #FAFAFB;
}

.main { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.main-container {
  width: 450px;
  height: 450px;
  box-shadow: 1px 1px 5px 1px grey;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.title {
  font-size: x-large;
}

.subtitle {
  font-size: small;
  opacity: 0.7;
}

.container {
  background-color: #ebebeb;
  width: 330px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.icon {
  width: 100px;
}
.icon-2{
  width: 100px;
  /* color: red; */
  /* background-color: red; */
}


.image {
  max-width: 450px;
  max-height: 250px;
}

.label-container {
  opacity: 0.7;
}

.label-or {
  opacity: 0.7;
}

.button {
  width: 120px;
  height: 40px;
  min-height: 40px;
  border-radius: 10px;
  background-color: #2F80ED;
  color: #fff;
  border: none;
  font-size: medium;
}

.container-image {
  background-color: #fff;
}

.hidden {
  display: none;
}

.modal {
  width: 350px;
  height: 130px;
  top: 50%;
  left: 50%;
  background-color: #fff;
  position: absolute;
  border-radius: 10px;
  font-size: medium;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 5px 1px grey;
  padding-bottom: 10px;
  transform: translate(-50%, -50%);
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #336ca5;
  border-top-color: transparent;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.content-copy {
  display: inline-block;
  margin-bottom: 20px;
}

.input-copy {
  border: none;
  height: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button-copy {
  width: 90px;
  height: 30px;
  background-color: #2F80ED;
  color: #fff;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}